<p id="notice"><%= notice %></p>
<div class="row top-container">
	<div class="span8">
		<div class="top-left-content">
			<h1>SkillShare</h1>
			<p>Skillshare is a community marketplace to learn anything from anyone. People can offer classes to others on any type of skill, from baking cupcakes to raising startup capital.</p>
			<p>skillshare.com</p>
		</div>
	</div>
	<div class="span4">
		<%= image_tag("skillshare.png") %>  
	</div>
</div>
<div class="row">
  <div class="span2 sidebar">
  	<div class="sidebar-box selected">
  	  <h5>Opportunities</h5>
  		<h5>Threats</h5>
  	</div>
  	<div class="sidebar-box">
  		<h5>Competitors</h5>
  	</div>
  </div>
  <div class="span5 main-content">
  	<div class="right-border">
  		<h3>Opportunities</h3>
			<table class="table table-condensed">
				<%= render @opportunities %>
			</table>
			<div class="inline-form">
				<%= render 'opportunities/form' %>
			</div>
  	</div>
  </div>
  <div class="span5 main-content">
  	<h3>Threats</h3>
  </div>
</div>
