<tr>
  <td class="description">
  	<%= opportunity.description %>
  </td>
</tr>
<tr>
	<td class="user"> by
		<%= link_to opportunity.user.username, opportunity.user %>
		|
		<%= link_to 'Destroy', [@company, opportunity], method: :delete, data: { confirm: 'Are you sure?' } %>
	</td>
</tr>
