$navbarBackgroundHighlight: white;
$navbarBackground: white;
$btnPrimaryBackground: blue;

@import 'bootstrap';
body{
    padding-top: 60px;
}

@import 'bootstrap-responsive';

.navbar-inner {
  @include box-shadow(none !important);
  border: 1;
}

.top-container {
	border-bottom:1px solid LightGrey;
	padding-bottom: 3%;
}

.top-left-content {
	padding-right: 8%;
}

.right-border {
	border-right: 1px solid LightGrey;
}

.sidebar {
	background-color:#EEEEEE;
	text-align: center;
  min-height: 500px;
}

.sidebar-box {
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom:1px solid LightGrey;
}

.sidebar-box.selected {
  background-color: DarkGrey;
  padding-top: 15px;
  padding-bottom: 15px;
}

.main-content {
	text-align: center;
}

// Table *******
.table th, .table td { 
     border-top: none; 
 }

 .table td.user {
  font-size: 11px;

  padding-bottom: 15px;
 }

 .table td.description {
 }


.form-inline {
  text-align: left;
}
// **************

.footer{
    margin-top: 50px;
    color: $grayLight;
    a{
        color: $gray;
    }
}